@use "@/common/styles/styleConstants.scss" as *;
@use "@/common/styles/mixin.scss" as *;

.board-column {
    width: 100%;
    padding: 15px;
    height: 500px;
    background-color: $color-total-white;
    border-radius: $border-m;

    &__title {
        @include clampText($text-m-main, $text-main);
        font-weight: 500;
    }

    &__divider {
        width: 100%;
        height: 1px;
        border-radius: $border-m;
        background-color: $color-grey;
        margin-block: 15px;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}